.checkout.woocommerce-checkout.processing,
.processing .blockOverlay {
    background-image:url('processing.gif') !important;
    background-position: center 30% !important;
    background-repeat: no-repeat !important;
}
.woocommerce-checkout .woocommerce-input-wrapper {
    width: 40%;
    position: relative;
    line-height: 0;
}
.woocommerce-checkout label {
    width: 20%;
}
.woocommerce-checkout .woocommerce-input-wrapper .input-text {
    height: 40px;
    padding-left: 40px !important;
}
.woocommerce-checkout #card-type_field {
    visibility: hidden;
}
.woocommerce-checkout #card-number_field .woocommerce-input-wrapper img {
    position: absolute !important;
    right: 10px;
    top: 5px;
	width: 30px;
}
#card-number_field {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.woocommerce-checkout .far, .woocommerce-checkout .fas {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}