.checkout.woocommerce-checkout.processing,
.processing .blockOverlay {
    background-image:url('processing.gif') !important;
    background-position: center 30% !important;
    background-repeat: no-repeat !important;
}
.woocommerce-checkout .woocommerce-input-wrapper {
    width: 30%;
}
.woocommerce-checkout label {
    width: 20%;
}