.checkout.woocommerce-checkout.processing,
.processing .blockOverlay {
    background-image:url('processing.gif') !important;
    background-position: center 30% !important;
    background-repeat: no-repeat !important;
}
.woocommerce-checkout .woocommerce-input-wrapper {
    width: 30%;
    position: relative;
}
.woocommerce-checkout .woocommerce-input-wrapper .input-text {
    height: 40px;
}
.woocommerce-checkout #card-type_field {
    visibility: hidden;
}
.woocommerce-checkout #card-number_field .woocommerce-input-wrapper img {
    position: absolute !important;
    right: 20px;
    top: -5px;
	width: 30px;
}
